@tailwind base;

@tailwind components;

/* Add any custom CSS here */

:root {
  @apply light;
}

.light {
  --color-fore-primary: #494c6b;
  --color-fore-secondary: #9495a5;
  --color-fore-tertiary: #d1d2da;

  --color-accent: #3a7cfd;

  --color-back-primary: #fafafa;
  --color-back-secondary: #ffffff;
  --color-back-tertiary: #e3e4f1;
}

.dark {
  --color-fore-primary: #c8cbe7; 
  --color-fore-secondary: #4d5067;
  --color-fore-tertiary: #5b5e7e;

  --color-accent: #3a7cfd;

  --color-back-primary: #171823;
  --color-back-secondary: #25273d;
  --color-back-tertiary: #393a4b;
}


@font-face {
  font-family: "josefin-sans";
  src: url("./../fonts/josefin-sans/thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "josefin-sans";
  src: url("./../fonts/josefin-sans/extra-light.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "josefin_sans";
  src: url("./../fonts/josefin-sans/light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "josefin-sans";
  src: url("./../fonts/josefin-sans/regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "josefin-sans";
  src: url("./../fonts/josefin-sans/medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "josefin-sans";
  src: url("./../fonts/josefin-sans/semi-bold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "josefin-sans";
  src: url("./../fonts/josefin-sans/bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@tailwind utilities;
